.bg-card {
    width: 100%;
    height: 100%;
    padding: 12px;
    object-fit: contain;

}
body{
    min-height:100%;
    background:linear-gradient(0deg, rgba(241, 86, 182, 0.601), rgba(235, 93, 61, 0.523)), url(./Assets/bg4.jpg);
    background-size:cover;
    
}
.findout{
    pointer-events: none;
    background-color: blueviolet;
}
.img_thanos{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 900px;
    height: 100%;
}
.img_settings{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: -24px;
}
.bg_settings{
    background-image: url(./Assets/thanos.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.univ{
    background:linear-gradient(0deg, rgba(14, 1, 9, 0.476), rgba(32, 28, 27, 0.523)), url(./Assets/bg4.jpg);
}

.info{
    position: fixed;
    bottom: 0;
    right: 0;
    border: 6px solid black;
    border-radius: 50%;
    
}
.info img{
    width: 56px;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}